[submodule ".registry"]
	path = .registry
	url = https://github.com/ai4ci/ai4ci.r-universe.dev
	branch = HEAD
[submodule "ggoutbreak"]
	path = ggoutbreak
	url = https://github.com/ai4ci/ggoutbreak
	branch = 0.6.0
[submodule "huxtableone"]
	path = huxtableone
	url = https://github.com/ai4ci/huxtableone
	branch = 0.4.4
[submodule "interfacer"]
	path = interfacer
	url = https://github.com/ai4ci/interfacer
	branch = 0.3.7
[submodule "tidyabc"]
	path = tidyabc
	url = https://github.com/ai4ci/tidyabc
	branch = 0.0.1
[submodule "ukc19"]
	path = ukc19
	url = https://github.com/ai4ci/ukc19
	branch = 0.0.3
