[submodule ".registry"]
	path = .registry
	url = https://github.com/ai4ci/ai4ci.r-universe.dev
	branch = HEAD
[submodule "ggoutbreak"]
	path = ggoutbreak
	url = https://github.com/ai4ci/ggoutbreak
	branch = 0.3.0
