[submodule ".registry"]
	path = .registry
	url = https://github.com/ai4ci/ai4ci.r-universe.dev
	branch = HEAD
[submodule "ggoutbreak"]
	path = ggoutbreak
	url = https://github.com/ai4ci/ggoutbreak
	branch = 0.4.1
[submodule "huxtableone"]
	path = huxtableone
	url = https://github.com/ai4ci/huxtableone
	branch = 0.4.4
[submodule "interfacer"]
	path = interfacer
	url = https://github.com/ai4ci/interfacer
	branch = 0.3.5
